html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto 1.5rem;
  padding: .75rem;
}

body {
  margin: 0;
}

h1 {
  display: block;
  text-align: center;
  margin: 0;
  padding: 1.5rem;
}

h2, h3, p {
  font-size: .875rem;
}

h2 {
  font-style: bold;
}

h3 {
  font-style: italic;
}

div {
  display: inline-block;
  float: left;
  font-size: .875rem;
  background-color: #e2e2e2;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
  border-left: 1px #333 solid;
}

.box-1 {
  float: left;
  width: 25%;
  background-color: #e2e2e2;
}

.box-2 {
  float: left;
  width: 25%;
  background-color: #ccc;
}

.box-3 {
  float: left;
  width: 25%;
  background-color: #aaa;
}

.box-4 {
  float: left;
  width: 25%;
  background-color: #999;
}

a {
  list-style-type: none;
  text-decoration: none;
  font-size: .875rem;
}

.btn {
  color: #fff;
  background-color: #333;
  border: 3px #333 solid;
  border-radius: 6px;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

.btn-small {
  margin: 0;
}
